Bike Builder

<h2>Frames</h2>
<table class="table">
	<tr>
		<th>Manufacturer</th>
		<th>Model</th>
		<th>Bikes</th>
	</tr>
	<% @frames.each do |frame| %>
	<tr>
		<td><%= frame.manufacturer %></td>
		<td><%= frame.name %></td>
		<td><%= frame.bikes.count %></td>
	</tr>
	<% end %>
	
</table>

<h2>Wheels</h2>

<table class="table">
	<tr>
		<th>Manufacturer</th>
		<th>Model</th>
		<th>Bikes</th>
	</tr>
	<% @wheels.each do |wheel| %>
	<tr>
		<td><%= wheel.manufacturer %></td>
		<td><%= wheel.name %></td>
		<td><%= wheel.bikes.count %></td>
	</tr>
	<% end %>
	
</table>

<%= render 'form' %>





