
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<table class="table">
		<th>
			Name
		</th>
		<th>
			Description
		</th>
		<th>
			Weight(g)
		</th>
		<th>
			Owner
		</th>
		<th>Rating
		</th>
		<% @bikes.each do |bike| %>
		<tr>
			<td><%= link_to bike.name, bike_path(bike)  %></td>
			<td><%= bike.description %>	</td>
			<td><%= bike.weight %></td>
			<td><%= bike.user.name %></td>
			<td><%= rating_for bike, 'overall' %></td>
		</tr>
		<% end %>
	</table>
		</div>
	</div>
</div>
	
	
		

<%= sign_in %>

