<h1>Bike: <%= @bike.name %></h1>

<p>Description: <%= @bike.description %>
<br></p>

<h2>Kit list</h2>
<ul>
	<li>Frame: <%= frame %></li>
	<li>Wheels: <%= wheels %></li>
</ul>




<p><%= link_to "Kit index", frames_index_path  %> | <%= link_to "Wheel index", wheels_index_path %></p>

<br>

<h2>Details</h2>
<ul>
	<li>Belongs to: <%= @bike.user.name.capitalize %></li>
	<li>Weight: <%= @bike.weight %> grams</li>
</ul>

<br>

<h3>Links</h3>

<p><%= link_to "Delete bike", bike_path(@bike), method: :delete  %> | <%= link_to "Edit bike", edit_bike_path(@bike)  %> | <%= new_bike %> </p>

<%= link_to "My Bikes", user_bikes_index_path  %>

<p><%= link_to "Main Bike index", bikes_path  %></p>





