
<h1>Bike: <%= @bike.name %></h1>
<div class="row">
	<div class="col-md-6">
		<p>Description: <%= @bike.description %>
		<br></p>
        <p><%= rating_for @bike, 'overall' %></p>
		<h2>Components</h2>
		<ul>
			<li>Frame: <%= @bike.frame.manufacturer.capitalize %> <%= link_to @bike.frame.name.capitalize, frame_path(@bike.frame) %> | <%= @bike.frame.weight %>g</li>
			<li>Wheels: <%= @bike.wheel.manufacturer.capitalize %> <%= @bike.wheel.name.capitalize %> | <%= @bike.wheel.weight %>g</li>
			<li>Chainset: <%= @bike.chainset.manufacturer.capitalize %> <%= @bike.chainset.name.capitalize %> | <%= @bike.chainset.weight %>g</li>
		</ul>
	</div>
	<div class="col-md-6">
		<p><%= link_to "Kit index", components_path  %> | <%= link_to "Wheel index", wheels_index_path %></p>
		

		

		<h2>Details</h2>
		<ul>
			<li>Belongs to: <%= @bike.user.name.capitalize %></li>
			<li>Weight: <%= @bike.weight %> grams</li>
		</ul>

		<br>

		<h3>Links</h3>
       
		<p> <%= delete_bike %> | <%= edit_bike %> | <%= new_bike %> </p>

		<%= link_to "My Bikes", user_bikes_index_path  %>

		<p><%= link_to "Main Bike index", bikes_path  %></p>
	</div>
</div>







