<h1>
	Frames
</h1>

<%= @bike.name %>


<% @frames.each do |frame| %>

  <p>Name: <%= frame.name %>, Manufacturer: <%= frame.manufacturer %>, Weight: <%= frame.weight %>, Price: <%= frame.price %></p>
  <p><%= link_to "Pick", addframe_path(bike_id: @bike.id, frame_id: frame.id) %></p>

<% end %>	