<h1>
	Frames
</h1>



<% @frames.each do |frame| %>

  <p>Name: <%= frame.name %>, Manufacturer: <%= frame.manufacturer %>, Weight: <%= frame.weight %>, Price: <%= frame.price %></p>
 
 <p>Number of bikes with this frame: <%= frame.bikes.count %></p>



<% end %>	